[2020-12-10 09:31] gazpachu commented on #147
In case you use CSS-in-JS:

[code]

[code]

[2020-12-12 09:03] Nodirbek3d opened #323 "How do I customize Control buttons?"
How on earth do I customize control buttons?? I need to use custom arrow icons to switch slides back and forth, I am trying to wrap my icons around provided <NextButton/> and <BackButton/> but it is still a button with Icon on it, not the Icon itself.

[2020-12-15 15:31] tjgibbs92 commented on #323
I'm looking for info on this as well. How would you replace the ButtonFirst button with a FontAwesome Icon?

[2020-12-15 16:40] ospfranco commented on #94
Heyo, I was trying to use this component, but the use of the naturalHeight naturalWidth props is very very confusing... also as stated in this issue, sometimes you just want a carousel that fills the entire screen so far I've been stumbling around the myriad of possible props I can pass to this component (intrinsicHeight?) and nothing seems to work

It seems like when created the focus was a very

[2020-12-17 19:33] theone3nu commented on #291
Any example please i face the same problem i am getting carouselContext as undefined. How to wrap this in my carousel component.

[2020-12-17 20:24] theone3nu commented on #291
Here is the example
`
const Carousel = ({ schools, onSchoolHover }) => {

    return (
        <CarouselProvider
            totalSlides={employers.length}
            naturalSlideWidth={1}
            naturalSlideHeight={1}

            <Slider>
                {schools.map((school, index) => {
                    return (
                        <Slide className="custom-slider-height" index={ind

[2020-12-22 16:09] coljung opened #324 "Basic Carousel - Getting double translateX properties for sliderTray and it messes up the alignment of Slides"
So I have a very simple Carousel:

[code]

Images are capped to 400px and drag with the mouse works fine.

But i noticed that depending on how strong I move the mouse, the container parent <ul class="sliderTray...> gets 2 translateX properties added. The first one makes complete sense, as it manages the % all images are moved left-right. But the second translateX is messing up the carousel. So my

[2020-12-22 17:30] tim-steele commented on #318
@CatchGus I will mark it as an issue - would you be willing to do a pull request to make it a `<div>` or an item that will pass the WCAG markup?

I am wondering if this would be a breaking change. If anyone is using `li` CSS selectors, it would break if they are expecting the default `li`.

[2020-12-22 17:32] tim-steele commented on #319
@cyphire per our Issue templates, questions would be better served on Stack Overflow https://stackoverflow.com/questions/tagged/pure-react-carousel

I don't believe this is a bug. If you think there is a bug, please fill out a bug Issue Template.

[2020-12-22 17:32] #319 closed

[2020-12-22 17:34] tim-steele commented on #320
Hello @JomolJohn this is a feature request. Please use the feature request Issue template.

However, to save you some time before opening the request, it would probably be best if you would open a pull request with the feature you are requesting. We are open to pull requests.

[2020-12-22 17:34] #320 closed

[2020-12-22 17:37] tim-steele commented on #322
@Bousine we have a `disableAnimation` property. Would this do what you are looking for?

[2020-12-22 17:42] tim-steele commented on #323
Issues are intended to be bugs or feature requests, so we ask you to not use issues to ask questions.

We have a [Stack Overflow ](https://stackoverflow.com/questions/tagged/pure-react-carousel) section for questions in regard to how to accomplish certain tasks. We ask that you move questions there.

[2020-12-22 17:42] #323 closed

[2020-12-22 17:43] Bousine commented on #322
Using that still doesn't disable the slide-dragging animation when using touch.

[2020-12-22 17:46] tim-steele commented on #316
@allcontributors please add @cyphire for question

[2020-12-22 17:46] #316 closed

[2020-12-24 11:43] #315 closed

[2020-12-24 11:43] #317 closed

[2020-12-29 06:51] Victor-Varghese commented on #203
[code]

u can override styles for next/back button and for slide you can overrride using the answer above @HanliTheron

[2020-12-29 18:11] hectordommo commented on #299
Hope someone can work on this soon. :)

[2021-01-04 15:41] sebreens opened #327 "Breakpoints to allow different slider settings and different screenwidths"
It would add a lot to the slider if it would be possible to introduce breakpoints for which different settings could be passed to the carousel provider.

I am working for a project where on mobile sizes the slider should show 1 slide, whereas on desktop - 3 slides. I have implemented a workaround that sort of works - the only problem is that when the slider goes too far on the right on mobile, swi

[2021-01-04 16:03] KeeganFargher commented on #327
Not sure if there's a better solution, but I used a `useBreakpointValue` hook like so:

`const visibleSlides = useBreakpointValue([3, 3, 4, 6]);`

and then assigned the `visibleSlides` value as well as the `key` value to force a re-render when there is a new breakpoint:

[code]

[2021-01-04 16:03] mrbinky3000 commented on #327
You can accomplish this today using regular React.   Just off the top of my head, you could create a container around your carousel that tracks the device width and updates the props for the carousel based on device width.

This can be done today.  No need to add it to the project.

[2021-01-05 11:00] sebreens commented on #327
I've done something very similar to that. My issue is that I can't access the currentSlide property on the parent. The result being that if the slider is on the right-most slide on single slide mode, then expanding the screen will result in the slider having went too far on the right. |[slide][empty][empty]| on 3 slide mode.

[2021-01-08 21:38] tandcsurf opened #328 "Infinite mode utilizing cloned slides"
**Describe the feature you'd like:**

Additional/alternate version of infinite mode that clones slides, allowing for a center-mode carousel that (like slick or other carousels) will consistently show slides to left/right of current active slide.

**Suggested implementation:**

**Describe alternatives you've considered:**

Creating a CSS-driven implementation of center-mode has worked pretty well,

[2021-01-08 22:44] CitizenBeta commented on #320
@JomolJohn did you find a solution for this?

If not, @tim-steele can you provide some suggestions on how you would do it? I can write the code for the pull request, I'm just now sure what the recommended route would be.

[2021-01-08 22:47] CitizenBeta commented on #320
This may be a duplicate of this: https://github.com/express-labs/pure-react-carousel/issues/242

I'll try that and see if it works.

[2021-01-08 23:20] CitizenBeta commented on #320
For any one finding this from a search, all you need to do is add:

[code]

To the <Slider> component

[2021-01-11 13:42] tim-steele commented on #328
@tandcsurf would you be willing to do a pull request with this feature? If you want to do a draft pull request first we would be able to review it.

[2021-01-11 13:45] tim-steele commented on #324
Hello @coljung.

If this is a bug, please fill out a bug template. If this is a question, please use one of the other resources as issues are supposed to be focused on bugs and features:

- Tutorial - https://github.com/express-labs/pure-react-carousel#-tutorial
- Examples - https://express-labs.github.io/pure-react-carousel/
- Stack Overflow - https://stackoverflow.com/questions/tagged/pure-react

[2021-01-11 13:45] #324 closed

[2021-01-11 14:30] coljung opened #329 "TranslateX wrong settings"
So I have a very simple Carousel:

<CarouselProvider
            naturalSlideWidth={400}
            naturalSlideHeight={400}
            totalSlides={5}>
            <Slider><Slide index={0}><img src={process.env.PUBLIC_URL + '/img/01.jpg'} alt="" /></Slide>
              <Slide index={1}><img src={process.env.PUBLIC_URL + '/img/02.jpg'} alt="" /></Slide>
              <Slide index={2}><img src={

[2021-01-11 16:20] Victor-Varghese commented on #219
Any points, i'm facing same issue in IE

[2021-01-11 18:21] tim-steele commented on #329
Duplicate of #324.

[2021-01-11 18:21] #329 closed

[2021-01-11 20:05] tim-steele commented on #322
@Bousine I think this is a bug then. I imagine if you have that flag set, then it would turn it off for mouse or finger.

[2021-01-11 20:20] Bousine commented on #322
@tim-steele i had to disable it for mouse through `dragEnabled=false`

[2021-01-11 20:21] CitizenBeta opened #330 "Adding more slides via infinite scroll causes the carousel to reslide"
- `pure-react-carousel` version: 1.27.6
- `react` version: 17.0.1
- `browser` used: Version 87.0.4280.88 (Official Build) (64-bit)
- `node` version: v14.15.1

### Relevant code or config:
My carousel:
[code]
My slides:
[code]

### What you did:

Add more slides via infinite scroll.

### Problem description:

The slider freaks out for a second and returns to the correct current slide.

Gif/video ex

[2021-01-11 20:25] CitizenBeta opened #331 "Animation doesn't always complete"
- `pure-react-carousel` version: 1.27.6
- `react` version: 17.0.1
- `browser` used: Ubuntu Chrome Version 87.0.4280.88 (Official Build) (64-bit)
- `node` version: v14.15.1

### Relevant code or config:
My carousel:
[code]
My slides:
[code]

### What you did:

Navigate through slides.

### Problem description:

The slide animation stops midway. Clicking anywhere helps to complete the animation. Gif

[2021-01-11 20:31] tim-steele commented on #330
@CitizenBeta this doesn't look like a "freakout" - it looks like it is doing a re-render. You are adding new Slides to the Slider as you are navigating through it?

[2021-01-11 20:33] tim-steele commented on #322
@Bousine got it. So it was dragging mouse and touchscreen, but if you set `dragEnabled=false` it gave you the results you were expecting?

[2021-01-11 20:39] CitizenBeta commented on #330
@tim-steele Freakout is probably a bad term to use here, my apologies haha. I think your analysis of a re-render is accurate; however, it is keeping the correct slide at the end, and it's not resetting to the on-mount "currentSlide" so in my head it wasn't a full reset. Yes, I am adding new slides as I navigate. Once I get within 6 of the end, I add more to the end of the carousel.

[2021-01-11 20:46] Bousine commented on #322
@tim-steele that helps only for mouse (since I don't want to be able to change slides through mouse-drag anyway). But I need `touchEnabled=true`for phones without the drag animation, which is where my issue lies. I am getting the drag animation even though I have disabled animation and using my custom one.

[2021-01-11 20:50] tim-steele commented on #322
Okay - so this is a bug then.

[2021-01-11 20:51] tim-steele commented on #330
It doesn't need to do a reset of the state (currentSlide) - but it looks like when you are adding slides, it is forcing a re-render.

[2021-01-11 21:03] CitizenBeta commented on #330
@tim-steele is it possible to prevent that? Or pause animations or checking until after the additional slides are added? The current slide isn't changing, so I'm not sure why it would need to re-render.

[2021-01-11 21:13] CitizenBeta commented on #331
Upon further testing I was able to narrow down the intermittent-ness and can now reproduce it reliably. In short, this only happens while Chrome inspect element is open. To reproduce:

With Chrome's Inspect open:
1. Do very slow drags and the bug will *never* happen. In 50 slides I can get 0% occurrence rate.
2. Do fast drags and I can reproduce this at 50%+ occurrence.

Without Chrome's Inspect t

[2021-01-11 21:40] tim-steele commented on #330
This isn't really a bug. We don't currently have a built-in way to do infinite scroll the way you are attempting to implement it.

The container is re-rendering because you are adding additional slides, and using `map` which returns a new array, which is going to cause the data to differ and cause the re-render. If you didn't use map, you would be mutating an existing array, which is an anti-patte

[2021-01-11 21:56] tim-steele commented on #330
@CitizenBeta we have an infinite mode that takes you back to the beginning. This particular functionality we would be open to a pull request. I am not quite sure how it would be solved.

[2021-01-11 21:58] #330 closed

[2021-01-11 22:00] CitizenBeta commented on #330
I dont think the infinite mode is the same thing as infinite scroll. In this case it's really more of a limited scroll. The actual use case is using the carousel to view an album with 1400 photos. To load all of them at once seems kinda expensive. Loading 12 at a time seems like a good decision.

[2021-01-11 22:10] CitizenBeta commented on #328
@tandcsurf are you aware of any way to do this that doesn't cause the carousel to re-render? Cloning slides would still run into the issue that I had here:

https://github.com/express-labs/pure-react-carousel/issues/330

[2021-01-12 06:53] Victor-Varghese opened #335 "IE Out of stack error"
Basic carousel not working in IE. Everything works fine, but in IE carousel is not working, i even stripped down the code to below, still its throwing error

- `pure-react-carousel` version: 1.27.6
- `react` version: 16.13.0
- `browser` used: IE
- `node` version:

### Relevant code or config:

[code]

If i comment the carousel component everything works fine

[2021-01-12 06:54] Victor-Varghese commented on #335
![Screenshot (75)](https://user-images.githubusercontent.com/44889920/104279876-07c23c00-54d1-11eb-94ca-212c40fe7797.png)

[2021-01-12 11:06] tim-steele commented on #335
What version of IE @Victor-Varghese ?

[2021-01-12 11:08] Victor-Varghese commented on #335
IE11,

Can someone help.

Otherwise i will have reimplement the entire carousel again from scratch using some other lib.

[2021-01-12 14:10] tim-steele commented on #335
What is the error appearing above? Can you post the entire console?

[2021-01-20 00:27] TheManFromEarth1 commented on #327
@sebreens Can you show your existing solution? Trying to do the same

[2021-01-21 08:19] sebreens commented on #327
@TheManFromEarth1 Which part exactly are you interested in? I have a viewport width tracker that sets the slider settings. I just reset the current slide every time it passes to a different viewport.

[2021-01-22 10:13] Denias3 opened #337 "Default page on a slide"
**Describe the feature you'd like:**

Add a props to which the default page value will be written. Now it is always 0, that is, the first page.
Let's set "defaultIndex" to Dot component
This way it will be convenient to store state in Redux. So that when the slide never starts from the beginning.

[2021-01-22 10:15] Denias3 commented on #337
Although it is probably more correct to call startPage or startSlide

[2021-01-22 10:27] #337 closed

[2021-01-28 22:50] azurekca commented on #309
Hi, is this issue still being investigated? I am having problems with this as well. I'm using a carousel to display a bunch of products and clicking on a product takes me to the product description. However, I don't want to navigate away from the page if the carousel is being scrolled.

I see in [this commit](https://github.com/express-labs/pure-react-carousel/commit/fe25e75227b17101ae13a23e6421fb

[2021-01-29 17:38] CITIZENDOT opened #338 "Hooks instead of Buttons for Next and Back"
**Describe the feature you'd like:**

I want to insert a logo (SVG) at `ButtonNext` and `ButtonBack` buttons. But, When I just do it like below,
[code]
It shows logo and also a button (Obviously). Because, the `ButtonNext` and `ButtonBack` returns `button` component. It would be better if there is hook/event we can attach to anything and work with that.

[2021-02-02 01:13] tomredman commented on #234
Surprisingly, this works:
[code]

[2021-02-05 17:11] Alucard17 commented on #299
@hectordommo can you create code sandbox example for it, I might work on this.

[2021-02-12 12:31] m-deacon opened #340 "Add: onFinish callback"
**Describe the feature you'd like:**
A callback for when the user tries to access the "next" side after the carousel has completed (in non-loop mode). So when they try to drag the last image or click the NextButton it can navigate them to the next page.

**Describe alternatives you've considered:**
I've managed to implement this on the next button using CarouselContext, but can't get it working fo

[2021-02-12 15:39] ivonigC opened #341 "Image: changing width and height from 100% to auto"
In my particular setup I need the <Image> component to be of { height: "auto", width: "auto" } size in order to keep proportion. However they are stuck in 100% width and height and I don't find a way to override it. It leads for me to images which are not keeping their original ratio in the modal.

Thanks in advance.

[2021-02-16 15:54] glennflanagan opened #343 "Focus Ring on Slides with `isIntrinsicHeight` set to true are sized incorrectly"
- `pure-react-carousel` version: 1.27.6
- `react` version: 16.14.0
- `browser` used: Chrome, Firefox, Safari - all MacOS
- `node` version: 14.15.1

### Relevant code or config:

Codesandbox example of bug
https://codesandbox.io/s/blue-fast-d2ku9

### Reproduction:

https://d2ku9.csb.app/
Use your keyboard tab key to move between slides and observe the focus ring.

### Problem description:

Having

[2021-03-08 15:10] Himanshu-uidev opened #348 "To access updated State in parent component"
The props passed to CarouselProvider renders the initial carousel, but there should be a way to access the updated state in parent component, I faced the issue while implementing accessibility on the carousel, while tabbing if we have passed slides the navigation buttons for example **ButtonBack, ButtonNext** are not changing there state as they do when we click on them.
There must be an updated s

[2021-03-08 18:09] brandonsueur commented on #50
@HanliTheron I'm looking for the same solution, do you have a solution.

[2021-03-09 12:16] HanliTheron commented on #50
Hi @brandonsueur, unfortunately not. It was a nice to have so I didn't waste anymore time on it. I might track back if I can make some time.

If you however figure something out, please share with us here.

[2021-03-09 13:00] mrbinky3000 commented on #50
The "fraction" of a cell part can be done with only CSS.  Express does it on our product detail pages for mobile devices.  No prop needs to be configured.  Simple CSS will do it.

The opacity trick for the last cell can be done a few ways.  It would most likely involve javascript to set opacity on any cell that isn't currently visible.

[2021-03-11 19:54] captnstarburst commented on #348
Hey @Himanshu-uidev ! I hope I understood you correctly, you should be able to see the carousels current state by utilizing the [Higher Order Component withStore](https://www.npmjs.com/package/pure-react-carousel#withstore-higher-order-component) or [Context CarouselContext](https://www.npmjs.com/package/pure-react-carousel#withstore-higher-order-component) and I created an example using withStore

[2021-03-12 19:46] andreademasi opened #351 "classNameHidden and classNameVisible not working when using Preact"
- `pure-react-carousel` version: 1.27.6
- `react` version: ^16.12.0
- `browser` used: Google Chrome
- `node` version: 12.13.1

### What you did:

Tried setting custom `classNameHidden` and `classNameVisible` while using preact and Gatsby

### What happened:

After using Preact, css classes weren't applied anymore on slide change

### Reproduction:

https://github.com/andreademasi/pure-react-carous

[2021-03-15 09:02] tuxd commented on #94
I would also like to know if this happened

[2021-03-20 17:13] mattspahr commented on #288
I was using this inconjunction with Tailwind.css and those styles were overriding the buttons to not display.
I added this:
`.reset-element: { all: revert; }`

Then applied that class to each Dot

[2021-03-23 00:43] finnmerlett opened #353 "Option to set firmer / absolute end stops"
I love this component, it is the first carousel component (after installing at least 4 others) that worked perfectly out of the box. However, after playing around a bit I realise that there is no end stop. You can drag the carousel past the end of the line, and though it springs back, it looks a bit messy in my implementation.

I envisage a prop `endStops` with the options `'normal'`, `'firm'` (fo

[2021-03-24 23:28] nathanharper commented on #328
Bump! I would also really like this. Any movement?

[2021-03-25 09:11] mikevercoelen opened #354 "Disable keyboard arrow navigation"
How can I disable keyboard arrow navigation?

My usecase is a multi-step form where the user can't navigate to the next slide, but I can't find a way to disable navigating with keyboard arrows

[2021-03-25 18:39] captnstarburst commented on #354
Hey @mikevercoelen , We have a disableKeyboard prop that is accessible from the [Higher Order Component withStore](https://www.npmjs.com/package/pure-react-carousel#withstore-higher-order-component) or [Context CarouselContext](https://www.npmjs.com/package/pure-react-carousel#withstore-higher-order-component). I created an example using withStore [here](https://codesandbox.io/s/distracted-pond-ju

[2021-03-25 21:00] dkadrios commented on #61
I too would love to switch from `react-slick` to this, but that lack of variable width slides is a real deal-breaker.

To be clear, we're talking about having a mix of slides with different widths at the same time, and not to be confused with having all the widths be responsive based on viewport width.  We can already do that bit using the `visibleSlides` or `naturalSlideWidth` props.  This is tal

[2021-03-25 23:37] mikevercoelen commented on #354
I've been through the source code and it turns out I can just add `disableKeyboard` on the `Slider` component.

It's pretty bad this isn't in the docs, should be addressed.

[2021-03-26 01:00] dkadrios opened #355 "Does moveThreshold actually work?"
- `pure-react-carousel` version: 1.27.6
- `react` version: 17.0.2
- `browser` used: Chrome 89
- `node` version: 12.14.1

Perhaps I'm misunderstanding the role of `moveThreshold`, or possibly it's not working correctly.  When clicking on slides 'sloppily', it's possible to make the whole slider jiggle a bit if you happened to drag a bit during the mouse click.  I figured increasing `moveThreshold`

[2021-03-26 13:25] captnstarburst commented on #354
I am glad you got the issue resolved. I also didn't see it in the docs,  would you be willing to do a pull request updating the docs for `disableKeyboard`? That would be a big help.

[2021-03-26 21:21] captnstarburst commented on #351
Hey @andreademasi,  I have been reviewing this issue and I have had some trouble determining the root cause. What I have been able to find out is that our `Slide` components are not receiving the updated state from `withStore` when using Preact. I think this  [StackOverflow ](https://stackoverflow.com/questions/64715102/preact-child-component-with-state-as-prop-does-not-rerender-on-state-change-if

[2021-03-26 22:19] dkadrios commented on #328
double bump!  This is final piece that's keeping me from ditching react-slick

[2021-03-29 15:08] ppozniak opened #356 "Should `isIntrinsicHeight` prop make width/height optional (or even disallowed)?"
I think it is confusing. I'd like to understand and maybe update the documentation - `isIntrinsicHeight` seems to make the ratio meaningless so why do naturalWidth and height still have to be passed in?

[2021-03-29 15:46] captnstarburst commented on #355
Hello @dkadrios!
    This is a good question, the `moveThreshold` prop on the `<Slider />` component controls the pixel threshold of movement during "small drag events" compared to the size of the slides. It works complimentary with the `dragStep` prop on the `<CarouselProvider />`. We have logic that is used to determine if the drag event is a "big drag" or "small drag", and big drags are not pre

[2021-03-29 17:42] dkadrios commented on #355
Would you accept a PR that adds a bool prop for this feature?   I might also take a look at the infinite-mode wrap-around cloning issue as well.

[2021-03-29 20:22] captnstarburst commented on #353
Hello @finnmerlett. Just verifying your feature suggestion to make sure I understood. How the carousel currently works when a user reaches the last item of a non-infinite carousel, the carousel does not have a boundary allowing the user to attempt to drag past the last item and you are proposing having an optional prop that would prevent dragging past the last slide correct?

https://user-images.g

[2021-03-30 13:55] finnmerlett commented on #353
That is indeed exactly correct :smile:

If you wanted to add additional options, you could add a 'firm' stop, where the behaviour would be as follows: when dragged past the last slide, the carousel moves a bit but doesn't follow the cursor/touch-point exactly - instead it would have an elastic feel, modelled by a scaling function on the cursor/touch-point position. I think an arctan function would

[2021-03-30 15:03] captnstarburst commented on #355
On our side, we feel that locking the slide in place would be counter-intuitive to UX. We are unsure how a user would know that the carousel moves if there wasn't this feedback of the slider. We would however appreciate any PR, so if you had some time to take a look at issue #328 or other issues that would be great :). Additionally based on our discussion we will be reviewing the documentation in

[2021-03-30 15:07] #355 closed

[2021-03-30 15:26] #343 closed

[2021-04-01 09:15] Aca1995 commented on #167
Hello guys, small question about this. :)

If we're currently on the last slide and we hit next button, is it possible to go to the first slide without slider going all back to it, but to slide to it normally, so that the first slide appear immediately after the last slide?

[2021-04-12 10:01] AlexW-Valtech opened #359 "Option to remove dependency on global CSS"
I'm importing this package into another for my app where I use CSS modules and will wrap this carousel in another component. I'd like to not use global CSS, so my consuming Next.JS app doesn't take a direct dependency on this module.

Currently I can take the supplied CSS and bring that into my own CSS module and pass all the required classes into the components using `className` props. However th

[2021-04-19 11:24] breiko83 opened #360 "How to add a link to a slide"
I'm trying to add a simple link to each slide but it gets triggered every time the carousel is dragged.
I've checked the sample code provided but there are no examples that cover this "basic" functionality for a carousel.

This is what i tried so far but it's not working great:

[code]

Can you recommend a different approach?

[2021-04-19 15:56] manu-unter commented on #335
We have the same issue - please remove the stale label!

We'd be happy to get insights into what we can do to avoid this

[2021-04-20 21:04] alundiak commented on #291
According to [React docs](https://reactjs.org/docs/context.html#contextconsumer)

Co consider I have `MyCarouselComponent>` which is implemented inside using `<CarouselProvider>` so I technically cant rely on context, when I am OUTSIDE of that component.

So here is quite the same code as in README as as above by @theone3nu (which wasn't working due to error, but it's simple.)

[code]

My another

[2021-04-21 19:43] mglavall commented on #291
I'm at the same position as @alundiak. It's a really common use case. Let me know if I can help

[2021-04-24 10:10] UserSina commented on #137
Here, saving the time of whoever stumbles upon this in the future.

[code]
[code]

[2021-04-29 01:13] GaoNpre commented on #360
I'm using the drag option too, but I'm not having this issue...

I'm using like this:
[code]

[2021-05-04 17:15] lovgrandma commented on #331
Thanks for posting this issue. Was wondering why mine wasn't centering. Can confirm this simply will not reoccur if you close chrome inspection tool. Module works fine.

[2021-05-06 15:29] AndrewBestbier opened #361 "Would it be possible to add horizontal scrolling using a Mac touchpad?"
**Describe the feature you'd like:**

I would love to be able to use the Mac two-finger gestures for scrolling horizontally. I thought that `touchEnabled` would allow this but that doesn't seem to be the case.

**Suggested implementation:**

**Describe alternatives you've considered:**

None - just not having the feature.

**Teachability, Documentation, Adoption, Migration Strategy:**

I would add

[2021-05-07 21:18] jmj90 opened #362 "Remove slide snap"
Is there a way to remove the snapping transition between slides? Instead of the slide animating to the next one fully, a user would have total control of how much or little of the slide is revealed. I've tried manipulating the animation classes and attaching custom classes to the carousel and slider but I cant disable the snapping animation.

Context: using the carousel as a horizontal  scroller t

[2021-05-10 02:58] d-sanderson opened #363 "<select> elements inside of <Slide/>"
I have a carousel component where I have select elements with the following markup. I was able to style the carousel to fit my use-case, but the select elements are not selectable onTouch or onClick. I tried changing styling and z-index but have not been able to make the select element interactive within the carousel. Is this possible with `pure-react-carousel`?
[code]

[2021-05-13 14:00] captnstarburst commented on #362
Hey, @jmj90 I believe this is the same concern as the issue outlined here [Issue #86 ](https://github.com/express-labs/pure-react-carousel/issues/86). Is this correct? If it is, we still have that listed as WIP and it is currently in a backlog status. You are more than welcome to open a PR addressing this. If I have misunderstood feel free to reopen this issue but since it seems it is the same as

[2021-05-13 14:00] #362 closed

[2021-05-13 14:14] captnstarburst commented on #361
Personally, I really like this idea, but it is such a niche feature and I am not sure any user would actually use it this way. I am gonna leave this open for a moment to think about it more but as it currently stands I don't think this would make it to release. Thank you for your suggestion though!

[2021-05-13 14:15] captnstarburst commented on #360
@breiko83 Did you get this issue resolved?

[2021-05-17 13:43] #360 closed

[2021-05-26 04:38] HarishTeens commented on #203
Shouldn't there be a toggle to turn this off?

[2021-05-26 05:09] mrbinky3000 commented on #203
@HarishTeens the outline is needed for accessibility compliance.  In general, you see that same outline all over the web on form elements when you tab through, unless the author has overridden the outline in their CSS.  Defeating the outline will make your carousel not compliant with current accessibility guidelines.  A major reason for creating the carousel was to adhere to accessibility guidelin

[2021-05-26 05:27] HarishTeens commented on #203
Thats great @mrbinky3000 . But sadly none of the above potential fixes work me :(

[2021-05-26 05:30] HarishTeens commented on #203
Oh my god I am sorry. There was an error with my css file. This fix `.focusRing___1airF.carousel__slide-focus-ring { outline: none !important; }` worked perfectly

[2021-06-08 00:15] looeyf commented on #172
Using react hooks it will work. I have changed the slideCount to a useState and then applied it inside a useEffect to change the value of slideCount every time the isDesktop or isTablet has its value changed.

[2021-06-11 01:42] #331 closed

[2021-06-11 01:42] #327 closed

[2021-06-11 01:42] #318 closed

[2021-06-11 01:42] #340 closed

[2021-06-11 01:42] #338 closed

[2021-06-11 01:42] #341 closed

[2021-06-15 15:15] #363 closed

[2021-06-20 11:43] edshav commented on #109
@mrbinky3000  if there is a slide 4
![image](https://user-images.githubusercontent.com/31659942/122672708-b3d12700-d1d5-11eb-8e14-ec25fbeaa27c.png)

[2021-06-26 03:14] #353 closed

[2021-06-26 03:14] #348 closed

[2021-06-26 03:14] #335 closed

[2021-06-26 03:14] #328 closed

[2021-06-30 12:51] tomsherlocked commented on #86
Hey all - I've just stumbled across this issue as I'm looking to achieve the same behaviour myself. Is this issue still in progress - If not is it something I should look into picking up and sending a PR for? Thanks 👍

[2021-07-02 15:48] avanisingh0105 commented on #354
Hi, @mikevercoelen I am also working on a functionality of a multi-step form with pure-react-carousel. I am using custom components (which are forms) as slides but not able to type anything in the input field, the input field is not getting focused on clicking them in any of the slides. Can you please help by telling me how were you able type in the input fields in your case?

[2021-07-02 16:30] avanisingh0105 opened #366 "How can I enable typing in input fields?"
I am working on a functionality of a multi-step form with pure-react-carousel. I am using custom components (which are forms) as slides but not able to type anything in the input field, the input field is not getting focused on clicking them in any of the slides. Can someone please help me, how can I enable typing in the input fields?

[2021-07-14 13:42] captnstarburst commented on #361
Thanks for the interest. I used this as an opportunity to learn more about the support for the MacBook touchbar. It is a really interesting idea but ultimately it is outside the scope of our project. Certainly, an interesting idea, and I could see a use case for this, be it a small one.

[2021-07-14 13:42] #361 closed

[2021-07-14 13:43] #366 closed

[2021-07-20 08:40] Pragya-singh-14 opened #370 "Accessibility | AXE and Lighthouse shows issues"
Getting accessibility issues in lighthouse and AXE in chrome dev tools.

- `pure-react-carousel` version: 1.27.6
- `react` version: 16.10.0
- `browser` used: Chrome
- `node` version:  v10.14.1

**Steps to Reproduce:**

Run lighthouse or axe in chrome dev tools.

**Issues:**
1.ARIA input fields must have an accessible name
2.Certain ARIA roles must contain particular children
3.Certain ARIA roles m

[2021-07-30 16:38] MrFarhan opened #371 "Infinite carousel can be improved by making it infinite (continuous sliding rather going back to 1st slide at the end)"
Refer to this PR https://github.com/express-labs/pure-react-carousel/pull/187 Infinite loop can be improved as currently at the end of slides it goes back to the 1st slide, how ever the intended behavior for the word Infinite could be a loop that keeps going on. similar to this carousel https://www.youtube.com/watch?v=0YMntQg-WIk

**Describe alternatives you've considered:**
Use another npm packag

[2021-08-04 07:04] martingg88 opened #372 "Carousel auto sliding issue"
Carousel  can't auto sliding after click at paging dot or dragging the image. Any idea?

[2021-08-05 17:18] Conor-Hinchee opened #373 "Slider OnClick is not being prevented on Carousel movement"
- `pure-react-carousel` version: 1.27.6
- `react` version: 17.0.2
- `node` version: v10.16.1

### Relevant code or config:
` <Slider>` > `handleOnClickCapture(ev)` line #286
<img width="913" alt="Screen Shot 2021-08-05 at 1 10 43 PM" src="https://user-images.githubusercontent.com/14241878/128392575-7eb75567-a85f-4afe-91f7-8ee52ca04ca3.png">

[code]

### What you did:
We are attempting to prevent c

[2021-08-16 03:34] fapjsc opened #376 "<DotGroup /> style is not working on safari"
- `pure-react-carousel` version:
- `react` version:
- `browser` used:
- `node` version:

### Relevant code or config:

[code]

### What you did:

### What happened:

### Reproduction:

### Suggested solution:

### Can you help us fix this issue by submitting a pull request?

[2021-09-01 22:36] XingyangHuang opened #377 "Narrator reads all the contents of the slides when a toggle button change its states"
- `pure-react-carousel` version: ^1.27.6
- `react` version:^16.14.0
- `browser` used: Version 93.0.4577.63 (Official Build) (32-bit)
- `node` version: v14.17.5

### Relevant code or config:
one focus event listener under the slider or slide component.
[code]
the applied style is relative to carousel__slide--focus

### Problem description:

we have a [toggle button](https://developer.microsoft.com/

[2021-09-10 17:29] github-actions[bot] opened #380 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-09-22 10:36] tdoran commented on #296
I had a similar issue with a modal (nested within a slide) which contained an input. The input was un-focusable, regardless of click or tab. The only solution we could use was adding `autoFocus` to the input.

[2021-09-23 22:43] third774 commented on #179
@tim-steele I'm also running into this issue and have a theory as to what might be causing it.

It looks like the touch move event handler cancels the timer before setting up a new one.
https://github.com/express-labs/pure-react-carousel/blob/b8d6e36eae4a61f5599e8ae900f72c29eb26bdf1/src/Slider/Slider.jsx#L333

But I don't think this happens for mouse move events. The timer being set here _may_ be

[2021-09-24 04:50] rishabh2712 commented on #167
Currently, the slider, after the last slide, goes through all the slides till the first to start again.

What is desired is after the last slide, slider goes to first slide as if its the next slide seamlessly. How to achieve this?

[2021-10-15 01:52] Tobio89 opened #383 "Getting the carousel to keep scrolling in one direction"
Issues on GitHub are intended to be related to problems and feature requests so we ask you not use
issues to ask for support.

---

## ❓ Pure React Carousel Resources

- Tutorial - https://github.com/express-labs/pure-react-carousel#-tutorial
- Examples - https://express-labs.github.io/pure-react-carousel/
- Stack Overflow - https://stackoverflow.com/questions/tagged/pure-react-carousel

**ISSUES

[2021-10-19 16:51] bt115 commented on #370
Are there any updates on this issue?

[2021-11-10 14:05] silberg opened #385 "onWheel movement of the Slider"
**Slide using onWheel**

I would like to be able to capture the onWheel function from mouse/touchpad allowing for the Slider to scroll left on mouseWheelUp (deltaY negative), and right for mouseWheelDown (deltaY possitive)

[2021-11-16 17:20] carles-codony-manomano opened #386 "Add image loading error handling capabilities to ImageWithZoom"
**Describe the feature you'd like:**
ImageZoom adds the zoom functionality, but removes the ability to handle loading errors.
Then as users we have to choose between handling loading errors but not having zoom, or having zoom but not being able to handle loading errors.

The need to handle loading errors is still present when using the zoom functionality, to give visual feedback to the end user as

[2021-11-18 18:51] #380 closed

[2021-11-25 09:05] cristianCeamatuAssist commented on #50
This worked for me only if I overwrite the `classNameAnimation`, so I ended up with this:
[code]

and

[code]

If I keep only the `classNameAnimation` it does not work, if I keep only the `.hide` and `.show` classes it does not work.

[2021-11-25 18:43] the-wrong-guy opened #388 "Example site is stuck on loading"
![image](https://user-images.githubusercontent.com/52911853/143489450-18b9b4be-34a9-4f23-b58e-5b0fe80498e2.png)

[2021-12-03 05:16] HaruMiyaGi opened #389 "Having DevTools open affects transition calculation"
- `pure-react-carousel` version: 1.27.8
- `react` version: 17.0.2
- `browser` used: chrome
- `node` version: 14.18.1

### Relevant code or config:

[code]

### What you did:

1. Open DevTools (`Ctrl+Shift+C` in Windows Google Chrome)
1. Press `<ButtonNext>` UI button
1. Then drag a slide with a cursor to the right multiple times (dragging it multiple times fast does it almost all the time)

### Wh

[2021-12-13 21:30] TwisterMc commented on #112
Where have we landed on this one? Removing `role="listbox"` seems to be a good start or giving us a way to overwrite it.

[2021-12-15 22:27] Conan1985 commented on #220
Shouldn't this be closed as it has been answered bro #227?

[2021-12-15 23:14] alexpreynolds commented on #220
I've moved on to other work, but I'll close this up for the time being.

[2021-12-15 23:14] #220 closed

[2022-01-09 03:32] #371 closed

[2022-01-09 03:32] #372 closed

[2022-01-09 03:32] #376 closed

[2022-01-09 03:32] #377 closed

[2022-01-19 23:14] rhythms06 commented on #299
The best workaround at the moment is probably listening for rotation events, and programmatically modifying `currentSlide` on those events of choice, as is mentioned in #272 and #116.

[2022-01-27 01:51] Travis-Witts opened #394 "<CarouselProvider /> Typescript error: Property 'onMouseEnter' does not exist on type"
- `pure-react-carousel` version: 1.27.8
- `react` version: 17.0.1
- `node` version: 11.15.0

### Relevant code or config:

[code]

<img width="591" alt="Screen Shot 2022-01-27 at 12 17 41 pm" src="https://user-images.githubusercontent.com/74891603/151276829-6d19a5ba-32fd-4f01-9c32-8ad04e73cd07.png">

I have a functioning carousel for my project however due to strict typescript rules which I cannot

[2022-02-01 18:19] quinnj commented on #388
I'm also seeing this

[2022-02-01 18:20] quinnj commented on #383
I was also looking for a way to do this

[2022-02-08 10:35] gertsonderby opened #399 "Master spinner does not respect prefers-reduced-motion"
- `pure-react-carousel` version: 1.28.0
- `react` version: 17.0.2
- `browser` used: Firefox 96.0
- `node` version: v16.13.0

### Relevant code or config:

[code]

### What you did:

Set `hasMasterSpinner` prop on provider component to `true`, load the page with long-loading or erroring slides, or JS switched off. Spinner shows on page and stays there for a significant amount of time.

### What hap

[2022-02-15 08:21] pankaj2961 commented on #386
I would like to see this feature implemented. Can I pick this issue and work on it ?

[2022-02-20 18:49] dschi commented on #171
This seems to be working for me:

- diable transition translateX
- move each child to position 0
- add fade in and fade out animation
(the code works for 10 slides)

[code]

[2022-03-01 16:02] vivek1458060 opened #401 "As documentation says, currentSlide property will be deprecated in future version. What is the alternative for this?"
<img width="747" alt="Screenshot 2022-03-01 at 9 30 15 PM" src="https://user-images.githubusercontent.com/26858253/156203586-9cb27d0a-d62a-4388-8149-b73f47d3f4dd.png">

[2022-03-04 12:47] SectumSempraAS commented on #330
I am also facing the same problem. After the object gets updated, the css properties `width` and `translateX()` gets updated with some delay time. Maybe that is causing the resliding. @CitizenBeta

[2022-03-14 19:34] dathmart commented on #401
Good question 💭 I think a more suitable name would be `initialSlide`

[2022-03-22 22:19] Sam-CellarDoor opened #403 "Accessibility Issues - Listbox role + tabIndex"
### Documenting three issues that should be discussed / actioned on:

**1. The carousel should likely not be using a "listbox" role**

This issue [has already been discussed at length here](https://github.com/express-labs/pure-react-carousel/issues/112), but I do not see a clear resolution. I understand there is an argument that the screen reader cannot read the contents of the carousel correctly

[2022-03-25 17:08] abrevinci opened #404 "Hide or disable the focus ring in Slide"
**Describe the feature you'd like:**

I just spent a lot of time trying to get rid of the focus ring in the Slide component. I believe this library is missing the capability to customize this part of the rendering.

**Suggested implementation:**

I'd suggest exposing the ability to set classNames for it like can be done for many of the other elements. That way, it can be hidden or styled to anyone

[2022-03-25 17:56] abrevinci commented on #404
I cannot get this project to build on my computer. Something fishy with my environment probably. I have implemented this but am not able to test them due to this. Let me know if I should still open a PR for someone else to test it who doesn't have issues.

The issues I am facing are related to npm, node-sass, package.json scripts that are invalid in both git bash and cmd (I'm on windows), and just

[2022-03-28 20:44] abrevinci commented on #404
I ended up working around this by simply assigning focus-visible styling to the slide element itself and hiding the focus ring added by pure-react-carousel using global css:

.carousel__slide-focus-ring {
  display: none !important;
  outline-width: 0 !important;
}

It completely beats me why the focus ring is in a separate element instead of just giving some default outline to the slide element o

[2022-04-03 22:36] benknight commented on #388
Came here to report this as well.

[2022-04-07 04:35] leadegroot commented on #403
Our implementation uses an anchor on each slide of the carousel to allow the user to click through for more information - presumably not an unusual way to do it.
Testing accessibility with cypress and axe-core is currently giving a fail, throwing this error:
https://dequeuniversity.com/rules/axe/4.3/nested-interactive?application=axeAPI
I am assuming at this point that this is due to the above men

[2022-04-16 13:19] #373 closed

[2022-04-16 13:19] #385 closed

[2022-04-16 13:19] #389 closed

[2022-04-18 19:53] Jaesul opened #405 "Enable Touch Swipe on iframes"
I'm creating a carousel that is filled with iframe slides, which doesn't allow for touch swipe on top of the iframe. This feature request is for all horizontal swiping to trigger the swipe on the carousel.

The only workaround I've found is to put a filter on top of the iframe which disables all interaction with the iframe.

[2022-04-22 20:45] lilyntalmers opened #406 "Does not use passive listeners to improve scrolling performance"
- `pure-react-carousel` version: 8.5.5
- `react` version:
- `browser` used:
- `node` version:

### Relevant code or config:

### What you did:

I ran a audit on LightHouse Audit

### What happened:

And it threw an error for passive scrolling event listener
![image](https://user-images.githubusercontent.com/68227401/164790964-2f5652ac-5a02-4074-93c9-7b5d27b3ecb9.png)

### Suggested solution:

Use

[2022-04-26 02:30] jackguoAtJogg commented on #321
@pascaltan Is this figured out? I'm running into the issue, could you share a solution if possible? :)

[2022-04-27 22:50] #394 closed

[2022-04-27 22:50] #383 closed

[2022-04-27 22:50] #386 closed

[2022-04-27 22:50] #401 closed

[2022-04-27 22:50] #404 closed

[2022-04-27 22:50] #388 closed

[2022-04-28 21:47] GLosch opened #408 "ReadMe improvement - left/right keydown event listener"
**Describe the feature you'd like:**
Hi, I just spent a decent chunk of time trying to figure out why left/right keyboard navigation wasn't working for me. Turns out all that was needed was to `focus()` the Slider component on mount. It doesn't seem to be mentioned in the documentation, and would be helpful for anyone else who might run into this same situation.

**Suggested implementation:**

Add

[2022-04-29 09:50] NairiAreg commented on #167
Any news in that? Or should I code it manually :/

[2022-05-02 10:49] #405 closed

[2022-05-02 16:07] Conor-Hinchee commented on #408
@GLosch thank you for feedback and I would agree that would be helpful to add to the documentation!
You're Pull Request would be very welcomed to improve the documentation

[2022-05-02 16:29] GLosch commented on #408
@Conor-Hinchee great! Just opened [this PR](https://github.com/express-labs/pure-react-carousel/pull/409)

[2022-05-03 04:15] sagarsiwach opened #410 "Not compatible with React 18"
Hey,

I'm using Pure React Carousel for almost 02 Years now, and it is by far the most convenient way to add carousels to a React Environment. I was upgrading my site to react 18 and found that Pure React Carousel does not support it yet.

Can you fix this Issue?

Thanks for your help and building such a fantastic Package

Cheers!

[2022-05-03 17:49] bradrice opened #411 "Advance slide from outside"
I need to be able to advance the slide via code from outside the CarouselProvider. It looks like currentSlide is not for this and is also deprecated.
**Describe the feature you'd like:**

I have to advance the slide after audio finishes for the slide. I thought it would be a matter of just firing an event and advancing the slide but changing the index of the slide, but I don't see where to change

[2022-05-08 19:04] PudparK opened #412 "Demo Site Down?"
It's stuck on "Loading Dev App..." and the console has 404 errors. Not sure if it's just me though.

[2022-05-17 10:55] rohansaaram opened #413 "Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'state')"
Hello I am getting this error when I use withStore() or even hooks as described in the docs

Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'state').

I actually want to remove display buttons when there are no more slides to scroll further.

Thanks for the wonderful library.

[2022-05-17 21:37] rohansaaram commented on #413
https://codesandbox.io/s/throbbing-smoke-75uxze

Copied this from the docs here https://github.com/express-labs/pure-react-carousel#hooks-and-usecontext

`import React, { useContext, useEffect, useState } from 'react';`
`import { CarouselContext } from 'pure-react-carousel';`

`export function MyComponentUsingContext() {`

`const carouselContext = useContext(CarouselContext);`

`  const [currentSl

[2022-05-23 14:58] Conor-Hinchee commented on #413
The problem is you are trying to use `CarouselContext` outside of the `CarouselProvider` component. The context has not been initialized yet.

The fix is to move the  `CarouselProvider` to a parent component. An example would be like this https://codesandbox.io/s/peaceful-https-kf7b0s?file=/src/index.js .  I just moved `CarouselProvider` from `App` to the parent.

I am moving this issue to the dis

[2022-06-07 12:09] misterbracket commented on #112
We found a very basic workaround to solve these issues for our purposes.

Without going into too much detail on how the roles work, for us, it was enough to make this work with `role="listbox"`. This change did it for us.

[code]

[2022-06-08 06:02] tonygustafsson commented on #410
I created a pull request fixing this. Let's see if it gets approved.
https://github.com/express-labs/pure-react-carousel/pull/415

[2022-06-15 13:59] martdavidson commented on #373
Hey this is not stale.

[2022-06-17 05:46] jimyeongsong opened #416 "conflict with styled-component version"
**Describe the feature you'd like:**

**Suggested implementation:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

<img width="594" alt="image" src="https://user-images.githubusercontent.com/105621563/174233093-1fe14480-c14e-42f7-b2bf-30ffb07f2a9d.png">

Hi,
I would use pure-react-carousel library but I have a problem with installing.

[2022-07-16 22:25] markdesign commented on #412
yup, still down.

[2022-07-24 14:11] Hagafny commented on #167
I agree. After the last slide, we'd like to just naturally go to the first slide. How could this be done?

[2022-07-25 00:37] rscotten commented on #86
@mrbinky3000 a non-step option is desirable because on mobile screens, the steps are clunky and a smooth scrolling behavior is preferred.

Somebody might say "just use a CSS-only carousel for mobile, then"

I understand this can be easily implemented via CSS (which is my current solution), but then the DOM ends up having two carousels; one for mobile and another for non-mobile screens, which can c

[2022-07-26 14:39] Hagafny commented on #60
Any news on this?

[2022-07-26 14:49] Hagafny commented on #251
Agreed, We would not be able to use this component in our project because we need to have a seamless infinite scrolling.

[2022-07-26 14:50] Hagafny commented on #371
Bump. This feature has been requested so many times. Any news on this?

[2022-07-26 15:00] jdconner commented on #251
Based on previous conversations, the underlying owners of the repo do not require this feature so they will not be building it. If anyone wants to contribute, I'm sure they will be glad to review 🙂 (Express, feel free to correct if I'm wrong)

[2022-07-26 15:33] Hagafny commented on #251
That's a shame. Really loved the component and it's very close to being complete, but without this feature I believe a lot of users will have second thoughts.

Guess I'll have to go back to react-slick for now

[2022-07-27 07:40] GoetzGoerisch commented on #410
#415 was merged, we just need a new version to use it downstream.

[2022-07-28 15:15] GoetzGoerisch commented on #410
Thanks @Conor-Hinchee!

[2022-07-28 15:24] Conor-Hinchee commented on #412
adding some context here, When we switched from Travis-ci to GitHub actions the deployment of the example website has broken. I am currently manually deploying the example site on every new build. I am keeping this issue open to remind myself to fix this step in the build process.

Thank you for reporting the issue @markdesign and @PudparK its a WIP

[2022-07-28 16:24] Conor-Hinchee commented on #416
@jimyeongsong thanks for bringing up this issue.
I am looking at the screenshot you have attached and do not see where this is specific to our project. It looks like you have a peer dependency issue between the two packages react-lazy-hero@2.0.0 and styled-components@5.3.5. react-lazy-hero@2.0.0 is saying your need styled-components@4.x

If you believe I am mistaken, would you mind sharing your pa

[2022-07-28 19:44] Conor-Hinchee commented on #410
released ! https://github.com/express-labs/pure-react-carousel/releases/tag/v1.29.0
Thank you everyone for the contributions

[2022-07-28 19:44] #410 closed

[2022-08-14 18:46] Tchaikovsky1114 opened #418 "When creating a carousel, no flex is created in the Slider Component."
[code]

result :

![no flex](https://user-images.githubusercontent.com/96774661/184550724-3ff89ec1-1423-4860-8897-94232127f5d0.png)

[2022-08-18 14:27] Conor-Hinchee commented on #418
You seem to be missing the global CSS classes could you please try again with
`import 'pure-react-carousel/dist/react-carousel.es.css';`

[2022-08-22 10:59] vladka opened #419 "Slider draging does not work in RTL direction"
- `pure-react-carousel` version: 1.29.0
- `react` version: 18
- `browser` used:
- `node` version:

### Relevant code or config:

[code]

[2022-09-12 04:28] anil-stuff opened #420 "Intermittent Slide Overlapping."
- `pure-react-carousel` version: 1.27.6
- `react` version: 16.14.0
- `browser` used: google chrome
- `node` version: 14

### Relevant code or config:

[code]

## What happened:

We have an intermittent problem with the pure react carousel slide.
first slide `li` size getting set to `5%` instead of `10%` so that the slides getting overlapped
Once refresh the page it will fix automatically.

![image

[2022-09-12 15:03] Conor-Hinchee commented on #420
@anil-stuff thanks for raising this issue, it seems like this bug might be hard to reproduce on its own. Would you be able to spin up a demo in code-sandbox for me?

[2022-09-12 20:30] anil-stuff commented on #420
thank you so much @Conor-Hinchee
yeah Its hard to  to reproduce  even in my local environment. If possible I will set up a  demo.

Thanks
Anil

[2022-09-20 05:55] SaadBazaz commented on #371
Any support for this yet?

[2022-10-12 19:56] LeandroDG opened #423 "Version 1.30.0 broke the required properties"
Hi there!

These couple of properties are now required and my code is no longer compiling:
- horizontalPixelThreshold
- verticalPixelThreshold

Thanks

[2022-10-12 20:12] LeandroDG commented on #423
[code]

Does this help?

[2022-10-12 21:21] LeandroDG commented on #423
That's correct, it seems they are mandatory for CarouselProviderProps, there's no question mark that'd make them optional.

Thanks!

[2022-10-13 19:39] Conor-Hinchee commented on #423
@LeandroDG would you be able to confirm if v1.30.1 fixes the issue or if I should revert the most recent change? Thank you in advance

[2022-10-13 19:40] LeandroDG commented on #423
I'll check! Thanks :)

El jue, 13 de oct. de 2022 16:39, Conor Hinchee ***@***.***>
escribió:

[2022-10-14 07:06] drewpoling2 commented on #251
I achieved this functionality if anyone still needs a solution. I don't have a PR for this component, but here are the steps I took in my project. My solution below should give you an infinitely scrolling slider in one direction without jumping back to the beginning after you've cycled through all the slides. First I started off with the base setup given in the component docs. Next I began by -

1

[2022-10-14 07:28] drewpoling2 commented on #60
Posted a solution for infinite scrolling in one direction [here](https://github.com/express-labs/pure-react-carousel/issues/251#issuecomment-1278577083)

[2022-10-14 14:33] LeandroDG commented on #423
It seems to be fixed now. Thanks!

[2022-10-14 19:49] tap2k commented on #134
Is there a way to make a fullsize carousel yet?

[2022-10-14 19:49] tap2k commented on #94
Is there a way to make a fullsize carousel yet?

[2022-10-15 03:10] #423 closed

[2022-10-16 17:00] jtwigg commented on #412
Still down!
Even a stale one would be useful.

[2022-10-19 22:29] mrbinky3000 commented on #412
It is back up.

[2022-10-26 15:10] hkrobotics commented on #177
any updates ?

[2022-10-26 15:10] Darkxleo commented on #177
any updates on this issue?

[2022-11-07 16:38] tap2k opened #437 "Fullscreen not working"
Thanks for a great component!

I have one issue that fullscreen does not seem to be working for embedded elements (img, video, etc.).

Is there any fix for this?

[2022-11-10 00:52] michael-alterio commented on #86
I am also looking for this feature!

[2022-11-27 23:27] richardwestenra commented on #296
I'm experiencing this issue too - a feature which relies on a button's focus state is not working, because the focus event is being prevented from triggering. It works with keyboard but not with mouse.